<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineCoffeeShopApp" >
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".hotcoffeehome"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".TrackOrder"
            android:exported="false" />
        <activity
            android:name=".OrderPlaceSuccessful"
            android:exported="false" />
        <activity
            android:name=".OrderCancelSuccessful"
            android:exported="false" />
        <activity
            android:name=".orderConfirm"
            android:exported="false" />
        <activity
            android:name=".CheckoutPage"
            android:exported="false" />
        <activity
            android:name=".addnewcard"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".blackTeaPage"
            android:exported="false" />
        <activity
            android:name=".coffee_MilkshakePage"
            android:exported="false" />
        <activity
            android:name=".CappuccinoPage"
            android:exported="false" />
        <activity
            android:name=".HotTeaHome"
            android:exported="false" />
        <activity
            android:name=".ColdCoffeeHome"
            android:exported="false" />
        <activity
            android:name=".HotCoffeeHome"
            android:exported="false" />
        <activity
            android:name=".onboarding1"
            android:exported="false" />
        <activity
            android:name=".onboarding2"
            android:exported="false" />
        <activity
            android:name=".Welciome"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>